@font-face {
  font-family: klavika;
  src: url(klavika-bold.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-image: linear-gradient(90deg, #c1c1c1, #ffffff);
  font-family: "Roboto", sans-serif;
  color: #3b5998;
}
h5 {
  color: #3b5998;
}
.logo {
  font-family: klavika, sans-serif;
  font-size: 30px;
  color: #3b5998;
}
nav {
  height: 44px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li.logout {
  float: right;
  color: #e81010;
  padding: 5px 0px;
  font-size: 20px;
}
nav li.logout:hover {
  cursor: pointer;
  color: #ff0000;
  transform: scale(1.05);
}
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.blakebook-feed,
.blakebook {
  justify-content: center;
  display: none;
}
.fa-times {
  color: #e81010;
  float: right;
}
.fa-times:hover {
  cursor: pointer;
  color: #ff0000;
}
